/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    background-color: #fff;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffcc80; /* Naranja claro */
  }
  
  .navbar div {
    flex: 1;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #ffff99; /* Amarillo claro */
  }

  .navbar .button {
    flex: 1;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    background-color: #ffff99; /* Amarillo claro */
    border: 1px solid #ccc;
    color: black;
    text-decoration: none; /* Sin subrayado para el enlace */
    cursor: pointer;
  }

  .navbar .button:hover {
    background-color: #ffdd99; /* Cambia el color al pasar el mouse */
  }
  
  a.button {
    display: inline-block; /* Permite que los <a> se comporten como botones */
  }
  
  /* Header */
  .header {
    text-align: center;
    padding: 20px;
    background-color: #ccffcc; /* Verde claro */
    border: 1px solid #ccc;
  }
  
  /* Content */
  .content {
    flex: 1;
    display: flex;
    padding: 10px;
  }
  
  .content .left, .content .right {
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .content .left {
    flex: 1;
    background-color: #ffff99; /* Amarillo claro */
    text-align: center;
    margin-right: 10px;
  }

  .left img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .content .right {
    flex: 2;
    background-color: #ccffcc; /* Verde claro */
    border: 2px solid #4caf50;
  }
  
  